.slider-section {
  position: relative;
  border-radius: 10px;
  height: 800px;
  max-width: 650px;
  margin: auto;
}

.line-container {
  position: fixed;
  top: 600px;
  left: 0px;
  width: 400px;
  height: 200px;
  text-align: center;
}

.line-container svg {
  display: inline-block;
}
