/* ImageGallery.css */
.image-gallery-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.image-gallery {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.image-gallery img {
  width: 400px; /* Adjust the image width */
  height: auto;
  margin: 0 10px;
}

.scroll-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
